  <div class="container">
    <header class="title row">
      <h1 class="col-sm-4">{{ title }}</h1>
      <div class="col-sm-6 offset-sm-2">
        <app-create-kitten (addEvent)="addKitten($event)"></app-create-kitten>    
      </div>
    </header>

    <div class="row file">
      <div class="col-sm-8">
        <app-list-kitten [display-list]="kittens"></app-list-kitten>
      </div>

      <div class="col-sm-4">
        <app-user-kitten></app-user-kitten>
      </div>
    </div>
  </div>


